/* 
    Licensed to Jasig under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Jasig licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License. You may obtain a
    copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on
    an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the
    specific language governing permissions and limitations
    under the License.
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ddd;
	color: #333;
}
#searchBar {
	padding: 0.5em;
	border-bottom: 1px solid #aaf;
	color: #333;
	background-color: white;
}
#searchBox {
  float: right;
}
#searchBox input {
  background-color: #eef;
  color: #333;
  border: 1px solid #aaf;
  width: 200px;
}
ul#add {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  border: 1px solid #aaf;
  background-color: #eef;
  color: #333;
  width: 100px;
  position: relative;
  white-space: nowrap;
}
ul.books li {
  list-style-image: url("icons/silk/book.png");
}
ul.subscriptions li {
  list-style-image: url("icons/silk/book_link.png");
}
ul.groups li,
li.group {
  list-style-image: url("icons/silk/group.png");
}
ul.contacts li,
li.contact {
  list-style-image: url("icons/silk/user.png");
}
ul#add li {
  background-color: #eef;
  padding: 0.15em 1em 0.3em 5px;
}
ul#add ul {
  display:  none;
  position: absolute;
  left: -1px;
  width: 100%;
  margin: 1.2em 0 0 0;
  padding: 0;
  border: 1px solid #aaf;
  list-style: disc inside none;
}
ul#add ul li { 
	padding: 0.25em 0.5em 0.25em 0.5em; 
}
ul#add ul li:hover { 
	background-color: #ff9; 
	color: #333;
}
ul#add li:hover ul { 
	display:  block; 
	background-color: #eef;
	color: #333; 
}
#booksAndGroups {
	padding: 0;
	white-space: nowrap;
  color: #333;
  background-color: white;
}
#booksAndGroups ul {
  list-style: disc outside none;
}
#booksAndGroups li {
  margin: 0 0 0.25em 2em;
}
#booksAndGroups h3 {
  margin: 0 0 0.5em 0;
  padding: 4px 8px;
  list-style: none;
  font-size: 0.9em;
  font-weight: normal;
  background-color: #eef;
  color: #black;
  border-bottom: 1px solid #ddd;
}
#booksAndGroups ul ul {
	margin: 0.5em 0 2em 0;
}
#booksAndGroups ul ul li {
  margin-bottom: 0.25em;
}
#booksAndGroups a.selected {
	background-color: #ff9;
	color: #333;
  border-bottom: 1px solid #eee;
}
#content {
	padding: 0;
  color: #333;
  background-color: white;
}
#filterLetters {
  color: black;
  background-color: #eef;	
  width: 100%;
  height: 22px;
  font-size: 0.9em;
  border-bottom: 1px solid #ddd;
}
#filterLetters li {
	display: inline;
}
#filterLetters a {
  display: block;
  width: 3.8%;
  padding: 4px 0;
  margin: 0 0 1em 0;
  float: left;
  text-align: center;
}
#filterLetters a:hover {
	color: black;
	background-color: #ff9;
}
h1 {
  font-size: 1.2em;
}
h3 {
	margin: 1em 0;
	font-size: 1em;
	font-weight: bold;
}
p {
	margin: 0 1em 1em 1em;
}
em {
  font-style: italic;
  font-size: 0.9em;
}
a {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}
.invisible {
  display: none;
}