/* 
    Licensed to Jasig under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Jasig licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License. You may obtain a
    copy of the License at:
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on
    an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the
    specific language governing permissions and limitations
    under the License.
    
    @author Arlen Johnson       johnsa - rpi.edu
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ddd;
	color: #333;
}
#searchBar {
	padding: 0.5em;
	border-bottom: 1px solid #aaf;
	color: #333;
	background-color: white;
}
#searchBox {
  float: right;
}
#searchBox input{
  background-color: #eef;
  color: #333;
  border: 1px solid #aaf;
  width: 200px;
}
#searchBox select {
  background-color: #eef;
  color: #333;
  border: 1px solid #aaf;
}
#searchBox option {
  min-width: 100px;
}
ul.topMenu {
	float: left;
  margin: 0 0.5em 0 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  border: 1px solid #aaf;
  background-color: #eef;
  color: #333;
  width: 100px;
  position: relative;
  white-space: nowrap;
}
ul#tools {
	width: 140px;
}
li.empty {
	list-style: none !important;
}
li.group {
  list-style-image: url("icons/silk/group.png");
}
li.contact {
  list-style-image: url("icons/silk/user.png");
}
li.location {
  list-style-image: url("icons/silk/building.png");
}
li.import {
  list-style-image: url("icons/silk/arrow_in.png");
}
li.export {
  list-style-image: url("icons/silk/arrow_out.png");
}
li.viewUrl {
  list-style-image: url("icons/silk/world_go.png");
}
.droppableHighlight {
	background-color: #eef !important;
	color: black;
}
ul.topMenu li {
  background-color: #eef;
  padding: 0.15em 1em 0.3em 5px;
}
ul.topMenu ul {
  display:  none;
  position: absolute;
  left: -1px;
  width: 100%;
  margin: 1.2em 0 0 0;
  padding: 0;
  border: 1px solid #aaf;
  list-style: disc inside none;
}
ul.topMenu ul li { 
	padding: 0.25em 0.5em 0.25em 0.5em; 
}
ul.topMenu ul li:hover { 
	background-color: #ff9; 
	color: #333;
}
ul.topMenu li:hover ul { 
	display:  block; 
	background-color: #eef;
	color: #333; 
}
#booksAndGroups {
	padding: 0;
	white-space: nowrap;
  color: #333;
  background-color: white;
}
#booksAndGroups ul {
  list-style: disc outside none;
}
#booksAndGroups li {
  margin: 0 0 0.25em 0.5em;
  list-style: none;
}
#booksAndGroups h3 {
  margin: 0 0 0.5em 0;
  padding: 4px 8px;
  list-style: none;
  font-size: 0.9em;
  font-weight: normal;
  background-color: #eef;
  color: black;
  border-bottom: 1px solid #ddd;
}
#booksAndGroups ul ul {
	margin: 0.5em 0 2em 0;
}
#booksAndGroups ul ul li {
  margin: 0 0 0.5em 1em;
}
#booksAndGroups ul.books {
  margin-bottom: 1em;
}
#booksAndGroups a.bwBook {
  background: white url("icons/silk/book.png") left no-repeat;
  color: #333;
  display: block;
  padding-left: 20px;
}
#booksAndGroups a.bwSubscription {
  background: white url("icons/silk/book_link.png") left no-repeat;
  color: #333;
  display: block;
  padding-left: 20px;
}
#booksAndGroups a.bwGroup {
  background: white url("icons/silk/group.png") left no-repeat;
  color: #333;
  display: block;
  padding-left: 22px;
}
#booksAndGroups a.selected {
	background-color: #ff9;
	color: #333;
  border-bottom: 1px solid #eee;
}
#content {
	padding: 0;
  color: #333;
  background-color: white;
}
#filterLetters {
  position: fixed;
  color: black;
  background-color: #eef;	
  width: 100%;
  height: 22px;
  font-size: 0.9em;
  border-bottom: 1px solid #ddd;
}
#filterLetters li {
	display: inline;
}
#filterLetters a {
  display: block;
  width: 3.8%;
  padding: 4px 0;
  margin: 0;
  float: left;
  text-align: center;
}
#filterLetters a:hover {
	color: black;
	background-color: #ff9;
}
#bwAddrBookOutputList {
	margin: 0;
	padding: 0;
}
.bwAddrBookTable {
  float: left;
  margin: 22px 0 0 0;
  font-size: 0.9em;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.bwAddrBookTable th {
  padding: 0.5em 1em;
  background-color: #eee;
  color: #999;
  border-right: 1px solid #ddd;
  white-space: nowrap;
}
.bwAddrBookTable thead tr .header {
  background-image: url("jquery/tablesorter/bg.png");
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
.bwAddrBookTable thead tr .headerSortUp {
  background-image: url("jquery/tablesorter/asc.png");
}
.bwAddrBookTable thead tr .headerSortDown {
  background-image: url("jquery/tablesorter/desc.png");
}
.bwAddrBookTable thead tr .headerSortDown, 
.bwAddrBookTable thead tr .headerSortUp {
  background-color: #dde;
  color: #666;
}
.bwAddrBookTable td {
	padding: 0.5em 1em;
  background-color: #fff;
  color: black;
  border-right: 1px solid #eee;
  white-space: nowrap;
  width: 100px;
  cursor: pointer;
}
.bwAddrBookTable tbody tr.odd td {
	background-color: #f6f6f6;
	color: black;
}
.bwAddrBookTable tr.none td {
  background-color: white;
  color: black;
  border: none;
}
.bwAddrBookTable img {
	margin: 0 1em 0 0;
	vertical-align: middle;
}
.bwGroupable {
	cursor: pointer;
}
#bwDetailsTable {
	position: relative;
	margin: 1em 0 0 0;
	background-color: white;
	color: black;
	
}
#bwDetailsTable td.field {
	text-align: right;
	padding: 0 1em 0.5em 0;
	color: #666;
	background-color: transparent; 
	font-size: 0.9em;
}
#bwDetailsTable tr.newGrouping td {
	padding-top: 1em;
}
#bwDetailsTable a,
.bwAddrBookTable a {
	color: #55f;
	background-color: transparent;
}
#bwDetailsTable a:hover,
.bwAddrBookTable a:hover {
  color: #11f;
  background-color: transparent;
}
#bwDetailsTable #groupMembers {
  font-size: 0.9em;
}
#bwDetailsTable #groupMembers td {
	padding: 0 1em 0.5em 0;
}
#bwDetailsTable #memberRemovalRow {
	display: none;
}
.detailPhoto {
	float: right;
	clear: right;
	margin: 1em 0 0 0;
}
#backToList {
	margin-top: 3em;
}
.bwActionButtons {
	float: right;
}
h1 {
  font-size: 1.3em;
  font-weight: bold;
  padding-left: 25px;
}
h1.individual {
  background: white url("icons/silk/user.png") left no-repeat;
  color: #333;
}
h1.group {
  background: white url("icons/silk/group.png") left no-repeat;
  color: #333;
}
h1.location {
  background: white url("icons/silk/building.png") left no-repeat;
  color: #333;
}
h3 {
	margin: 2em 0 1em 0;
	font-size: 1em;
	font-weight: bold;
}
p {
	margin: 0 1em 1em 1em;
}
em {
  font-style: italic;
  font-size: 0.9em;
}
a {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}
fieldset {
	display: block;
	position: relative;
  width: 560px;
	white-space: nowrap;
	border: 2px solid #eef;
	padding: 0;
	margin: 0 0 1.5em 0;
  font-size: 0.9em;
}
legend {
	position: absolute !important;
	top: -8px;
	left: 1em;
	font-style: italic;
	color: #99e;
	background-color: white;
}
input:focus, 
textarea:focus {
	background-color: #ffe !important;
	color: black !important;
}
button {
	cursor: pointer;
}
.bwFormData {
	margin: 1em;
}
.bwField {
	width: 100px;
	float: left;
	clear: left;
	margin: 0 0 0.5em 0.5em;
}
.bwValue {
	float: left;
  margin: 0 0 0.5em 0.5em;
}
.bwValue input,
.bwValue select,
.bwValue textarea {
  background-color: #eef;
  color: #333;
  border: 1px solid #aaf;
}
.bwHelpLink {
	position: relative;
  float: left;
	font-size: 0.8em;
	color: #999;
	background-color: transparent;
	padding: 4px 0 0 4px;
}
.bwHelp {
	display: none;
	position: absolute;
	top: 1em;
	z-index: 100;
	padding: 0.5em;
	border: 1px solid #ccc;
	background-color: #ffe;
	color: #666;
	line-height: 16px;
}
.bwAppend {
  float: left;
  width: 16px;
  height: 16px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  margin: 0 0 0.5em 0.5em;
  background: white url("icons/silk/add.png");
  color: #333;
}
.bwRightAppend {
	float: right;
	position: relative;
	top: -8px;
}
.bwRemove {
  float: left;
  width: 16px;
  height: 16px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  margin: 0 0 0.5em 0.5em;
  background: white url("icons/silk/delete.png");
  color: #333;
}
.bwAddressHolder {
	margin: 0;
	padding: 0.5em;
	border: 2px solid #eef; 
}
.addrFields {
	margin-bottom: 1em;
}
.bwInternalField {
	padding-left: 0.4em;
}
#bwImportText {
	margin-bottom: 1em;
}
.invisible {
  display: none;
}
.content-block {
  margin: 1em;
}
.clear {
  clear: both;
}
/* dialog boxes */
.ui-widget-content {
	line-height: 1.2em;
}
.ui-widget-content h3 {
  margin-top: 0.5em;
}
.ui-widget-content a {
  text-decoration: underline;
}
.ui-widget-content ol li {
  list-style: decimal;
  margin: 0 0 0.5em 1.5em;
}
.pre {
  white-space: pre;
}
strong {
  font-weight: bold;
}